@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: "Noto Sans", sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

.flex {
    display: flex;
}

.border {
  border: 2px solid black;
}

.bold {
    font-weight: bold;
}

/* global classes */

.font-NotoSans {
    font-family: "Noto Sans", sans-serif;
}

.center {
    align-self: center;
}

.container {
    margin: auto;
} 

.max {
  max-width: max-content;
}

.bold-500 {
    font-weight: 500;
}

.semi-bold {
    font-weight: 600;
}

.btn-margin {
    margin-inline: 0.5rem;
}

/* head */

.head {
    border-bottom: 2px solid rgba(128, 128, 128, 0.108);
}

#title {
    font-size: large;
    margin-left: 1rem;
    margin-right: auto;
}

.head-padding {
    margin-inline: 3rem;
}

.foot-wrapper {
  margin: auto;
}

/* foot */ 

.foot {
  margin: auto;
  max-width: max-content;
}

#copy {
  color: grey;
  font-size: 0.9em;
}
